body{
    margin: auto;
    min-width: 350px;
    min-height: 620px;
    background-image: linear-gradient(rgb(0, 255, 255), rgb(253, 94, 169));
    background-size: 100% 100%;
    background-attachment: fixed;
}

@viewport{
  width: device-width;
  zoom: 0.5 ;
}

.Main{
    color: mintcream;
}

.loginComp{
    padding: 5px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 635px;
    background-image: url("log_img.jpeg");
    background-size: 100% 100%;
    animation-name: SlideInDown;
    animation-duration: 0.9s;
}


.loginComp > #welcomeSign{
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 65px;
    animation-name: Appear;
    animation-delay: 0.9s;
    animation-duration: 500ms;
}

.loginComp > #username{
    font-size: 17px;
    margin-left: 15px;
    margin-top: 75px;
    padding: 10px;
    width: 350px;
    height: 20px;
    border: none;
    border-bottom: solid white 3px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    box-shadow: aquamarine;
    animation-name: Appear;
    animation-delay: 0.9s;
    animation-duration: 500ms;
}

input[type=text]:focus{
    border-color: rgb(0, 255, 255);
    box-shadow:0 0 17px 0 rgb(0, 255, 255);
}

.loginComp > #pssword{
    font-size: 17px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 10px;
    width: 350px;
    height: 20px;
    border: none;
    border-bottom: solid white 3px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    animation-name: Appear;
    animation-delay: 0.9s;
    animation-duration: 500ms;

}

input[type=password]:focus{
    border-color: rgb(253, 94, 169);
    box-shadow:0 0 17px 0 rgb(253, 94, 169);
}

.loginComp > #loginButton{
    margin-top: 60px;
    margin-left: 126px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(202, 71, 71);
    color: seashell;
    font-family: monospace;
    font-size: 20px;
    outline: none;
    animation-name: Appear;
    animation-delay: 0.9s;
    animation-duration: 500ms;
}

@keyframes Appear{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 0.8;
    }
}

@keyframes SlideInDown{
    from{
        margin-top: -170px;
    }
    to{
        margin-top: 0px;
    }
}
